altgraph
cycler
et-xmlfile
neofbs
importlib-metadata
joblib
kiwisolver
macholib
Markdown
matplotlib
numpy
openpyxl
pandas
pefile
Pillow
PyInstaller
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pytz
pywin32
pywin32-ctypes
ruptures
scikit-learn
scipy
six