QPushButton {
    border-radius: 5px;
    border: 1px solid rgb(171, 171, 171);
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(253, 253, 253, 255), stop:1 rgba(239, 239, 239, 255));
}

QPushButton:hover {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(239, 239, 239, 255), stop:1 rgba(253, 253, 253, 255));
    border: 1px solid rgb(171, 171, 171); /* Optional: Add border color on hover */
}